---
import Base from "../layouts/Base.astro";
---

<Base title="Donate --- The General Welfare Project" currentPath="/donate">
  <div class="mx-auto max-w-3xl px-6 py-16 text-center">
    <h1 class="text-4xl font-bold uppercase">
      Donate to The General Welfare Project by voting in the 2026 midterm elections
    </h1>

    <a href="/" class="mt-12 inline-block text-gray-400 hover:text-white"
      >&larr; All topics</a
    >
  </div>
</Base>
