---
interface Props {
  title: string;
  description: string;
  href: string;
}

const { title, description, href } = Astro.props;
---

<a
  href={href}
  class="block min-h-16 rounded-lg border border-neutral-800 px-5 py-5 text-center transition-colors hover:border-neutral-600 hover:bg-neutral-900 sm:px-6 sm:py-6"
>
  <h2 class="text-xl font-bold">{title}</h2>
  <p class="mt-1">{description}</p>
</a>
